<html>
  <head>
    <link rel="stylesheet" type="text/css" media="all" href="styles/common.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="styles/about.css"/>
    <script type='text/javascript' src="https://code.jquery.com/jquery.js"></script>
  	<script type='text/javascript' src='scripts/about.js'></script>
  </head>

  <body>
	  <nav class="larger">
      <div id="toolbarShader" class="larger">
        <div id="logo" class="larger">
          <div id="logo-seal" class="larger"></div>
          <div id="logo-text" class="larger">
            <p>RapidPCAPture</p>
          </div>
        </div>

        <menu class="larger">
          <li><a href="/">Home</a></li>
          <li><a href="./about">About</a></li>
          <li><a href="./login">Login</a></li>
        </menu>
      </nav>
    </div>

    <div id="page1" class="container">
  	  <div id="page1background"></div>
  	</div>

    <div id="contentContainer" class="fadeout">
      <div class="container">
        <div id="contentBackground"></div>
      </div>

      <div id="content">
        <h1>Group 1 FCL IoTeam Packet Capture</h1>
        <p>
          The goal of this project is to capture Wifi traffic from an
          RBT-provided, Wifi-based IoT test network. To do this, we developed
          an algorithm to determine the number and type of IoT devices
          contained with captured web traffic using packet capturing techniques.
        </p>
      </div>
    </div>

  </body>
</html>
