<html>
  <head>
    <link rel="stylesheet" type="text/css" media="all" href="styles/common.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="styles/index.css"/>
    <script type='text/javascript' src="https://code.jquery.com/jquery.js"></script>
  	<script type='text/javascript' src='scripts/index.js'></script>
  </head>

  <body>
	  <nav class="larger">
      <div id="toolbarShader" class="larger">
        <div id="logo" class="larger">
          <div id="logo-text" class="larger">
            <p>RapidPCAPture</p>
          </div>
          <div id="logo-seal" class="larger"></div>
        </div>

        <menu class="larger">
          <li><a href="/">Home</a></li>
          <li><a href="./about">About</a></li>
          <li><a href="./login">Login</a></li>
        </menu>
      </nav>
    </div>

    <div id="page1" class="container">
  	  <div id="page1background"></div>
  	</div>

    <footer>
      <p></p>
      <p></p>
    </footer>
  </body>
</html>
